* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 143rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  background-color: #1B1B32;
  height: 13rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .container ul li:not(:first-child) {
  margin-left: 1.8rem;
}
header .container ul a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.2px;
  padding: 5px 10px;
  transition: opacity 0.3s ease;
}
header .container ul a:hover {
  opacity: 0.7;
}
header .container ul .idioma {
  border-radius: 3rem;
  border: 1px solid #795aff;
  background: rgba(255, 255, 255, 0);
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}
@media (max-width: 991px) {
  header {
    height: 14.5rem;
  }
  header .container {
    justify-content: center;
  }
  header nav {
    display: none;
  }
}
@media (max-width: 480px) {
  header {
    height: 8.3rem;
  }
  header .logo img {
    height: 5.3rem;
  }
}

.s-hero {
  width: 100%;
  background-color: #141424;
  padding-top: 75px;
  padding-bottom: 175px;
}
.s-hero .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-hero .container .text {
  width: 100%;
  max-width: 620px;
}
.s-hero .container .text h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 600;
  line-height: 7.8rem;
  letter-spacing: -0.195rem;
  margin-bottom: 23px;
}
.s-hero .container .text h1 span {
  color: #795aff;
}
.s-hero .container .text p {
  max-width: 480px;
  color: #fff;
  opacity: 0.7;
  font-size: 23px;
  font-weight: 500;
  line-height: 31.5px;
  margin-bottom: 52px;
}
.s-hero .container .text button {
  display: inline-block;
  height: 66px;
  color: #fff;
  line-height: 2.9539rem;
  background-color: #795AFF;
  border-radius: 1.3359rem;
  letter-spacing: -0.021rem;
  padding: 1.8rem 5.4rem;
  font-weight: 600;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s-hero .container .text button:hover {
  background-color: #fff;
  color: #795AFF;
}
@media (max-width: 99.1rem) {
  .s-hero .container {
    flex-direction: column;
  }
  .s-hero .container .text {
    max-width: 600px;
    text-align: center;
    margin-bottom: 50px;
  }
  .s-hero .container p,
  .s-hero .container button {
    margin: 0 auto;
  }
}
@media (max-width: 48rem) {
  .s-hero {
    padding-top: 85px;
    padding-bottom: 65px;
  }
  .s-hero .container .text h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.5615rem;
    letter-spacing: -0.09rem;
  }
  .s-hero .container .text p {
    max-width: 272px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6537rem;
  }
  .s-hero .container .text button {
    font-size: 18px;
  }
}

.s-clientes {
  width: 100%;
  background-color: #795AFF;
  height: 212px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-clientes .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-clientes .container h2 {
  width: 100%;
  max-width: 268px;
  color: #fff;
  font-size: 31.139px;
  font-weight: 700;
  line-height: 37.367px;
  letter-spacing: -0.311px;
}
.s-clientes .container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 99.1rem) {
  .s-clientes .container {
    gap: 40px;
  }
  .s-clientes .container h2 {
    max-width: 150px;
  }
}
@media (max-width: 48rem) {
  .s-clientes {
    height: 83px;
  }
  .s-clientes .container {
    gap: 0px;
  }
  .s-clientes .container h2 {
    max-width: 80px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.367px;
  }
  .s-clientes .container ul {
    gap: 10px;
  }
}

.s-about {
  padding: 232px 0;
  width: 100%;
}
.s-about .container .experiencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12.7rem;
}
.s-about .container .experiencia .text-experiencia {
  max-width: 52.9rem;
}
.s-about .container .experiencia .text-experiencia h2 {
  color: #795AFF;
  max-width: 37.9rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.6rem;
  margin-bottom: 3.4rem;
}
.s-about .container .experiencia .text-experiencia p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.15rem;
}
.s-about .container .experiencia .text-experiencia p span {
  font-weight: 700;
}
.s-about .container .cards-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 12.7rem;
}
.s-about .container .cards-about .card {
  max-width: 43rem;
  border: 0.2rem solid #795AFF;
  border-radius: 1.5rem;
  padding: 9.7rem 3.5rem;
}
.s-about .container .cards-about .card .icon {
  width: 10rem;
  height: 10rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background: rgba(121, 90, 255, 0.2);
}
.s-about .container .cards-about .card h3 {
  color: #21174d;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -0.033rem;
  margin-bottom: 2.4rem;
}
.s-about .container .cards-about .card p {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
}
.s-about .transformando {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s-about .transformando .text-transformando {
  max-width: 54.6rem;
}
.s-about .transformando .text-transformando h3 {
  max-width: 35.6rem;
  color: #795AFF;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.6rem;
  letter-spacing: -0.035rem;
  margin-bottom: 3.4rem;
}
.s-about .transformando .text-transformando p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.15rem;
}
@media (max-width: 1300px) {
  .s-about .experiencia img,
  .s-about .transformando img {
    max-width: 45%;
  }
}
@media (max-width: 991px) {
  .s-about {
    padding: 140px 0;
  }
  .s-about .container .experiencia {
    flex-direction: column;
    padding-bottom: 6rem;
  }
  .s-about .container .experiencia img {
    max-width: 100%;
    margin-bottom: 4.5rem;
  }
  .s-about .container .experiencia .text-experiencia {
    max-width: 100%;
  }
  .s-about .container .experiencia .text-experiencia h2 {
    max-width: 59.9rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4.6rem;
  }
  .s-about .container .experiencia .text-experiencia p {
    max-width: 75rem;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 42px;
  }
  .s-about .container .cards-about {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .s-about .container .cards-about .card {
    max-width: 80%;
  }
  .s-about .container .cards-about .card h3 {
    font-size: 5rem;
  }
  .s-about .container .cards-about .card p {
    font-size: 2rem;
  }
  .s-about .container .transformando {
    flex-direction: column;
  }
  .s-about .container .transformando img {
    max-width: 100%;
  }
  .s-about .container .transformando .text-transformando {
    max-width: 100%;
  }
  .s-about .container .transformando .text-transformando h3 {
    max-width: 53.5rem;
    margin: 0 auto;
    margin-bottom: 4.5rem;
    text-align: center;
  }
  .s-about .container .transformando .text-transformando p {
    max-width: 73.5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .s-about {
    padding: 1.5rem;
  }
  .s-about .container .experiencia .text-experiencia h2 {
    max-width: 21.6rem;
    font-size: 2rem;
    line-height: 2.6221rem;
    letter-spacing: -0.02rem;
  }
  .s-about .container .experiencia .text-experiencia p {
    max-width: 31.2rem;
    font-size: 1.6rem;
    line-height: 1.7956rem;
  }
  .s-about .container .cards-about .card {
    max-width: 100%;
  }
  .s-about .container .cards-about .card h3 {
    font-size: 2.6rem;
    line-height: 3.463rem;
    letter-spacing: -0.026rem;
  }
  .s-about .container .cards-about .card p {
    font-size: 16px;
    line-height: 2.0463rem;
    letter-spacing: -0.016rem;
  }
  .s-about .container .transformando .text-transformando h3 {
    font-size: 2rem;
    line-height: 2.1191rem;
    letter-spacing: -0.02rem;
  }
  .s-about .container .transformando .text-transformando p {
    font-size: 1.4rem;
    line-height: 1.4511rem;
  }
}/*# sourceMappingURL=main.css.map */