header {
  background-color: $bg-header;
  height: 13rem;
  width: 100%;
  @include flex(row, center, space-between);
  .container {
    @include flex(row, center, space-between);
    ul {
      @include flex(row, center, space-between);
      li:not(:first-child) {
        margin-left: 1.8rem;
      }
      a {
        color: $white;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: -0.2px;
        padding: 5px 10px;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
      .idioma {
        border-radius: 3rem;
        border: 1px solid #795aff;
        background: rgba(255, 255, 255, 0);
        padding: 0.5rem 2rem;
        @include flex(row, center, space-between);
        gap: 1.6rem;
      }
    }
  }
  @include responsive(991px) {
    height: 14.5rem;
    .container {
      justify-content: center;
    }
    nav {
      display: none;
    }
  }
  @include responsive(480px) {
    height: 8.3rem;
    .logo {
      img {
        height: 5.3rem;
      }
    }
  }
}
