.s-hero {
  width: 100%;
  background-color: #141424;
  padding-top: 7.5rem;
  padding-bottom: 17.5rem;
  .container {
    @include flex(row, center, space-between);
    .text {
      width: 100%;
      max-width: 62rem;
      h1 {
        color: $white;
        font-size: 6.5rem;
        font-weight: 600;
        line-height: 78px;
        letter-spacing: -1.95px;
        margin-bottom: 2.3rem;
        span {
          color: #795aff;
        }
      }
      p {
        max-width: 48rem;
        color: $white;
        opacity: 0.7;
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 3.15rem;
        margin-bottom: 5.2rem;
      }
      button {
        @include style-btn(6.6rem, $bg-purple, $white);
      }
    }
  }
  @include responsive(991px) {
    .container {
      flex-direction: column;
      .text {
        max-width: 60rem;
        text-align: center;
        margin-bottom: 5rem;
      }
      p,
      button {
        margin: 0 auto;
      }
    }
  }
}

.s-clientes {
  background-color: $bg-purple;
  height: 21.2rem;
}