.s-hero {
  width: 100%;
  background-color: #141424;
  padding-top: 7.5rem;
  padding-bottom: 17.5rem;
  .container {
    @include flex(row, center, space-between);
    .text {
      width: 100%;
      max-width: 62rem;
      h1 {
        color: $white;
        font-size: 6.5rem;
        font-weight: 600;
        line-height: 78px;
        letter-spacing: -1.95px;
        margin-bottom: 2.3rem;
        span {
          color: #795aff;
        }
      }
      p {
        max-width: 48rem;
        color: $white;
        opacity: 0.7;
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 3.15rem;
        margin-bottom: 5.2rem;
      }
      button {
        @include style-btn(6.6rem, $bg-purple, $white);
      }
    }
  }
  @include responsive(991px) {
    .container {
      flex-direction: column;
      .text {
        max-width: 60rem;
        text-align: center;
        margin-bottom: 5rem;
      }
      p,
      button {
        margin: 0 auto;
      }
    }
  }
  @include responsive(480px) {
    padding-top: 8.5rem;
    padding-bottom: 6.5rem;
    .container {
      .text {
        h1 {
          color: $white;
          font-size: 3rem;
          font-weight: 600;
          line-height: 35.615px;
          letter-spacing: -0.9px;
        }
        p {
          max-width: 27.2rem;
          color: $white;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 16.537px;
        }
        button {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.s-clientes {
  width: 100%;
  background-color: $bg-purple;
  height: 21.2rem;
  @include flex(row, center, space-between);
  .container {
    @include flex(row, center, space-between);
    h2 {
      width: 100%;
      max-width: 26.8rem;
      color: $white;
      font-size: 3.1139rem;
      font-weight: 700;
      line-height: 3.7367rem;
      letter-spacing: -0.0311rem;
    }
    ul {
      @include flex(row, center, space-between);
      gap: 4rem;
    }
  }

  @include responsive(991px) {
    .container {
      gap: 4rem;
      h2 {
        max-width: 15rem;
      }
    }
  }

  @include responsive(480px) {
    height: 8.3rem;
    .container {
      gap: 0rem;
      h2 {
        max-width: 8rem;
        color: $white;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.7367rem;
      }
      ul {
        gap: 1rem;
      }
    }
  }
}

.s-about {
  padding-top: 23.2rem;
}