@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin style-btn($height, $bg, $colorText) {
  display: inline-block;
  height: $height;
  color: $white;
  line-height: 2.9539rem;
  background-color: $bg;
  border-radius: 1.3359rem;
  letter-spacing: -0.021rem;
  padding: 1.8rem 5.4rem;
  font-weight: 600;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $colorText;
    color: $bg;
  }
}
