* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  @include responsive(1200px) {
    font-size: 55%;
  }
}

img {
  display: block;
  max-width: 100%;
}
